extends layout
block content
	.container(ng-controller="mainCtrl as main")
		.content
			.wheel-container
				div(dr-wheel="{{angle}}")
				.cursor
			.server-result-wrap
				h3 Ответ сервера
				br
				h3(ng-bind="angle")
				select(ng-model="angle")
					option(ng-repeat="color in main.colors" ng-value="360 - ($index * 45)" ng-bind="color")
