doctype
html
	header
		title test rotation
		link(rel="stylesheet" href="css/main.css")

	body(ng-app="wheelFortune")
		block content


		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")

		script(src="js/app.js")

		script(src="js/controllers/mainCtrl.js")

		script(src="js/directives/drWheel.js")